.container {
    margin: auto;
    align-items: center;
    width: 85%;
    padding: 20px;
}


.logo {
    margin-top: 40px;
    width: 160px;
    height: 160px;
}

.title {
    font-size: 30px;
    color: #3F414E;
    margin-top: 16px;
    font-family: 'RobotoSlab-Bold';
}

.subTitle {
    font-size: 24px;
    color: #3F414E;
    margin-top: 36px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    font-family: 'RobotoSlab-Regular';
}