.custom_text_input {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .custom_text_input_label {
        font-size: 0.85rem;
        font-weight: 300;
        margin-bottom: 5px;
        color: #495057;

    }

    input {
        display: flex;
        padding: .375rem .1rem .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        border: none;
        border-radius: 8px;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    textarea {
        display: flex;
        padding: .375rem .1rem .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        margin: 20px 0;
        height: 70px;
    }

    &__hidden {
        display: none;
    }

    @media (max-width: 992px) {
        input {
            width: 90%;
            margin: 20px auto;
        }

        textarea {
            width: 90%;
            margin: 20px auto;
        }
    }
}