@use "../../pages/home/home" as *;
@use 'sass:color';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary-color;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    height: 80px;
    background-color: color.mix($secondary-color, #fff, 40%);
    width: 100%;


    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
        padding: 10px 0;
        font-size: 2.5rem;
    }

}


.header {}