.contracheque {
    .contracheque-sidemenu {
        .year {
            cursor: pointer;
            padding: 10px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            margin-bottom: 5px;

            &:hover {
                background-color: #e0e0e0;
            }
        }

        .months {
            margin-left: 20px;

            .month {
                padding: 5px;
                background-color: #fafafa;
                border: 1px solid #ddd;
                margin-bottom: 3px;
                cursor: pointer;

                &:hover {
                    background-color: #f5f5f5;
                }

                &--active {
                    background-color: #6ec1e7b0;
                }
            }
        }
    }
}